@model FullstackOpdracht.ViewModels.HotelVM

<h1>Hotel List</h1>

@if (Model.Hotels.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Overall Rating</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in Model.Hotels)
            {
                <tr>
                    <td>
                        <a href="@hotel.URL" target="_blank">@hotel.Name</a>
                        </td>
                    <td>@hotel.OverallRating</td>
                    <td>@hotel.Price</td>
                    <td><img src="@hotel.Image" alt="@hotel.Name" /></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hotels found.</p>
}